.ultimateTicTacToeOptions {
    display: flex;
    flex-grow: 1;
    .gameName{
    }
    .genericButton {
        a {
            background-color: aqua;
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }
    }
}