.ultimateTicTacToeBoard {
    display: flex;
    justify-content: center;
    align-items: center;

    .header {
        width: 100%;
        margin-bottom: 10px;
    }

    .board {
        .segment {
            position: relative;
            border: 1px solid rgb(219, 219, 219);
            border-radius: 10px;
            margin: 10px;
            padding: 20px;
            box-shadow: none;

            .notFinished {
                display: none;
            }

            .finished {
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;

            }

        }

        .active {
            border: 1px solid #98DBE8;
            box-shadow: 0 0 20px #98DBE8;
        }
    }
}