.wholeScrean {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.gameContainer {
    border: 1px solid black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionsContainer {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options {
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.svgTimes {
    color: #3989d4;
    width: 20px;
    height: 20px;
}

.svgCircle {
    color: #39BCD4;
    fill: white;
    width: 20px;
    height: 20px;
}

.square {
    
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}