@import './variables.scss';

.genericWholeScreen {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;

    @media (max-width: 700px) {

        width: 100%;
        margin: 0;
    }

}

.genericGameContainer {
    border: 2px solid #98DBE8;
    box-shadow: 0 0 20px #98DBE8;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 700px) {
        margin: 0;
        padding: 0;
        border: none;
        width: 100%;
        height: 100%;
        overflow: auto;
    }

}

.genericOptionsContainer {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.genericOptions {

    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .gameName {
        font-size: 30px;
        margin-bottom: 60px;
        color: #3989d4;
    }
}

.genericSvgTimes {
    color: #3989d4;
}

.genericSvgCircle {
    color: #39BCD4;
}

.flex {
    display: flex;
}

.genericFlexColumn {
    display: flex;
    flex-direction: column;
}

.genericTicTacToeSquare {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $TICTACTOE_SQUARE_SIZE;
    height: $TICTACTOE_SQUARE_SIZE;
    border-right: 2px solid #D8D8D8;
    border-bottom: 2px solid #D8D8D8;
}

.genericNoBorder {
    :last-child div {
        border-bottom: none;
    }

    :not(:last-child) div {
        height: calc($TICTACTOE_SQUARE_SIZE - 1px);
    }

    div :last-child {
        border-right: none;
    }

    div :not(:last-child) {
        width: calc($TICTACTOE_SQUARE_SIZE - 1px);
    }
}

.genericButton {
    border: 2px solid #cacaca;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #919191;
}

.genericButton:hover {
    transition: border 0.5s;
    cursor: pointer;
    border: 2px solid black;
    color: black;
}

.disabled-link {
    pointer-events: none;
}

.optionsButton {
    margin: 10px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    background-color: #fff;
}

.optionsButton:hover {
    color: #3989d4;
    border: 2px solid #39BCD4;
    transition: border 0.5s;

}