$crossSize: 30px;

.invitations {
    transition: left 0.5s;
    background-color: #fff;
    z-index: 10;
    left: -320px;
    position: fixed;
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;


    .list::-webkit-scrollbar {
        width: 10px;
    }

    .list::-webkit-scrollbar-track {
        background-color: #2d3e5046;
        border-radius: 100px;
    }

    .list::-webkit-scrollbar-thumb {
        background-color: #2D3E50;
        border-radius: 100px;
    }

    .list {
        overflow: auto;

        .mockInvitation {
            height: 70px;
            width: 100%;
        }
    }

    .header {
        padding: 0 20px;
        color: #fff;
        font-size: large;
        height: 60px;
        background-color: #2D3E50;
        box-sizing: content-box;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .clearAll {
            cursor: pointer;
        }

        .exitCross {
            position: relative;
            width: $crossSize;
            height: $crossSize;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            div {
                position: absolute;
                background-color: #fff;
                width: $crossSize;
                height: 3px;
                border-radius: 3px;
            }

            .line1 {
                transform: rotate(45deg)
            }

            .line2 {
                transform: rotate(315deg)
            }
        }
    }

}

.show {
    left: 0;
}