.lobby {
    height: 100%;
    width: 320px;
    border-left: 1px solid black;

    .header {
        font-size: large;
        border-bottom: 1px solid black;
    }

    .list::-webkit-scrollbar {
        width: 10px;
    }

    .list::-webkit-scrollbar-track {
        background-color: #2d3e5046;
        border-radius: 100px;
    }

    .list::-webkit-scrollbar-thumb {
        background-color: #2D3E50;
        border-radius: 100px;
    }

    .list {
        overflow: auto;
        max-height: calc(100vh - 120px);
    }

    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        padding: 0 20px;

        .username {
            font-size: larger;
        }

        button {
            height: 30px;
            width: 60px;
        }
    }

}