.lobby {
    height: 100%;
    width: 320px;
    border-left: 1px solid black;

    .header {
        font-size: large;
        border-bottom: 1px solid black;
    }

    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        padding: 0 20px;
        
        .username{
            font-size: larger;
        }

        button {
            height: 30px;
            width: 60px;
        }
    }
}