.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.appHeader {
  border: 1px solid black;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.username {
  border: 1px solid black;
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 10px;
}