.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: 'Comic Sans MS';

  .appHeader {
    padding: 0px 40px 0px 40px;
    background-color: #2D3E50;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;

    .left,
    .right {
      display: flex;
    }

    .menu {
      cursor: pointer;
    }

    .username {
      cursor: pointer;
      margin-right: 10px;
      display: flex;

      .placeholder {}

      .value {
        margin-left: 30px;
      }
    }
  }
}